<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sxt.sys.mapper.DeptMapper">
  <resultMap id="BaseResultMap" type="com.sxt.sys.domain.Dept">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="pid" jdbcType="INTEGER" property="pid" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="open" jdbcType="INTEGER" property="open" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="loc" jdbcType="VARCHAR" property="loc" />
    <result column="available" jdbcType="INTEGER" property="available" />
    <result column="ordernum" jdbcType="INTEGER" property="ordernum" />
    <result column="createtime" jdbcType="TIMESTAMP" property="createtime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, pid, name, open, remark, loc, available, ordernum, createtime
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sys_dept
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from sys_dept
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.sxt.sys.domain.Dept">
    insert into sys_dept (id, pid, name, 
      open, remark, loc, 
      available, ordernum, createtime
      )
    values (#{id,jdbcType=INTEGER}, #{pid,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, 
      #{open,jdbcType=INTEGER}, #{remark,jdbcType=VARCHAR}, #{loc,jdbcType=VARCHAR}, 
      #{available,jdbcType=INTEGER}, #{ordernum,jdbcType=INTEGER}, #{createtime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.sxt.sys.domain.Dept">
    insert into sys_dept
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="pid != null">
        pid,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="open != null">
        open,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="loc != null">
        loc,
      </if>
      <if test="available != null">
        available,
      </if>
      <if test="ordernum != null">
        ordernum,
      </if>
      <if test="createtime != null">
        createtime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="pid != null">
        #{pid,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="open != null">
        #{open,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="loc != null">
        #{loc,jdbcType=VARCHAR},
      </if>
      <if test="available != null">
        #{available,jdbcType=INTEGER},
      </if>
      <if test="ordernum != null">
        #{ordernum,jdbcType=INTEGER},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.sxt.sys.domain.Dept">
    update sys_dept
    <set>
      <if test="pid != null">
        pid = #{pid,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="open != null">
        open = #{open,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="loc != null">
        loc = #{loc,jdbcType=VARCHAR},
      </if>
      <if test="available != null">
        available = #{available,jdbcType=INTEGER},
      </if>
      <if test="ordernum != null">
        ordernum = #{ordernum,jdbcType=INTEGER},
      </if>
      <if test="createtime != null">
        createtime = #{createtime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sxt.sys.domain.Dept">
    update sys_dept
    set pid = #{pid,jdbcType=INTEGER},
      name = #{name,jdbcType=VARCHAR},
      open = #{open,jdbcType=INTEGER},
      remark = #{remark,jdbcType=VARCHAR},
      loc = #{loc,jdbcType=VARCHAR},
      available = #{available,jdbcType=INTEGER},
      ordernum = #{ordernum,jdbcType=INTEGER},
      createtime = #{createtime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <select id="queryAllDept"  resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sys_dept
    <where>
    	<if test="name!=null and name!=''">
    		and name like concat("%",#{name},"%")
	    </if>
	    <if test="loc!=null and loc!=''">
    		and loc like concat("%",#{loc},"%")
	    </if>
	    <if test="remark!=null and remark!=''">
    		and remark like concat("%",#{remark},"%")
	    </if>
	     <if test="id!=null">
    		and (id=#{id} or pid=#{id})
	    </if>
	     <if test="available!=null">
    		and available=#{available}
	    </if>
    </where>
    order by ordernum
  </select>
  
  <!-- 查询最大的排序码 -->
  <select id="queryDeptMaxOrderNum" resultType="java.lang.Integer">
  	select max(ordernum) from sys_dept 
  </select>
  
  <!-- 根据部门ID查询子节点的数量 -->
  <select id="queryChildrenCountByDeptId" resultType="java.lang.Integer">
  	select count(1) from sys_dept where pid=#{value}
  </select>
</mapper>