<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
	<meta charset="utf-8">
	<title>用户管理-用户列表</title>
	<meta name="renderer" content="webkit">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta http-equiv="Access-Control-Allow-Origin" content="*">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="format-detection" content="telephone=no">
	<link rel="icon" href="favicon.ico">
	<link rel="stylesheet" href="/resources/layui/css/layui.css" media="all" />
	<link rel="stylesheet" href="/resources/layui_ext/dtree/dtree.css" media="all" />
	<link rel="stylesheet" href="/resources/layui_ext/dtree/font/dtreefont.css" media="all" />
	<link rel="stylesheet" href="/resources/css/index.css" media="all" />
	<style type="text/css">
.select-test{position: absolute;max-height: 500px;height: 350px;overflow: auto;width: 100%;z-index: 123;display: none;border:1px solid silver;top: 42px;}
.layui-show{display: block!important;}
</style>
</head>
<body  class="childrenBody">
	<!-- 查询条件开始 -->
	<fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
 		 <legend>查询条件</legend>
	</fieldset>
	<form action="" id="searchFrm" method="post" lay-filter="searchFrm">
		<div class="layui-form-item">
	    <div class="layui-inline">
	      <label class="layui-form-label">用户名称:</label>
	      <div class="layui-input-inline">
	        <input type="text" name="name" autocomplete="off" class="layui-input">
	      </div>
	    </div>
	    <div class="layui-inline">
	      <label class="layui-form-label">用户地址:</label>
	      <div class="layui-input-inline">
	        <input type="text" name="address" id="date"  autocomplete="off" class="layui-input">
	      </div>
	    </div>
	    <div class="layui-inline">
	    	<button type="button" class="layui-btn" id="doSearch" >查询</button>
	      <button type="reset" class="layui-btn layui-btn-primary">清空</button>
	    </div>
 	 </div>
	</form>
	<!-- 查询条件结束 -->
	
	<!-- 数据表格开始 -->
	<table class="layui-hide" lay-filter="userTable" id="userTable"></table>
	<div class="layui-hide" id="userToolbar">
	  <div class="layui-btn-container">
		<button class="layui-btn layui-btn-sm" shiro:hasPermission="user:create"  lay-event="addUser">添加用户</button>
	  </div>
	</div>
	<div class="layui-hide" id="userBar">
  		<a class="layui-btn layui-btn-xs" lay-event="edit" shiro:hasPermission="user:update" >编辑</a>
  		<a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del" shiro:hasPermission="user:delete" >删除</a>
  		<a class="layui-btn layui-btn-xs" lay-event="resetPwd" shiro:hasPermission="user:resetpwd">重置密码</a>
  		<a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="selectUserRole" shiro:hasPermission="user:selectRole">分配角色</a>
	</div>
	<!-- 数据表格结束 -->
	
	<!-- 添加和修改的弹出层 开始-->
	<div style="display: none;padding: 10px" id="addOrUpdateView">
		<form action="" class="layui-form" method="post" id="dataFrm" lay-filter="dataFrm">
			<div class="layui-form-item">
				<div class="layui-inline">
			    	<label class="layui-form-label">所属部门</label>
		    	    <div class="layui-input-inline">
				      <div class="layui-unselect layui-form-select"  id="selDeptid">
				        <div class="layui-select-title" >
				          <input type="hidden" name="id">
				          <input type="hidden" name="deptid" id="deptid">
				          <input type="text"  id="name_deptid"   placeholder="请选择所属部门" readonly="" class="layui-input layui-unselect">
				          <i class="layui-edge"></i>
				        </div>
				      </div>
				      <div class="layui-card select-test" id="accordionDeptid">
				        <div class="layui-card-body">
				          <div id="toolbarDiv"><ul id="accordionDeptTree" class="dtree" data-id="0" style="width: 100%;"></ul></div>
				        </div>
				      </div>
				    </div>
			    </div>
			    
			    <div class="layui-inline">
				     <label class="layui-form-label">入职时间</label>
				    <div class="layui-input-inline">
				      <input type="text" name="hiredate" id="hiredate"  readonly="readonly" autocomplete="off" placeholder="请选择入职时间" class="layui-input">
				    </div>
			    </div>
			 </div>
			 
			 <div class="layui-form-item">
				<div class="layui-inline">
			    	<label class="layui-form-label">领导部门</label>
		    	    <div class="layui-input-inline">
				      <div class="layui-unselect layui-form-select"  id="selLeaderDeptid">
				        <div class="layui-select-title" >
				          <input type="hidden" name="id">
				          <input type="text"  id="name_leaderdeptid"   placeholder="请选择所属部门" readonly="" class="layui-input layui-unselect">
				          <i class="layui-edge"></i>
				        </div>
				      </div>
				      <div class="layui-card select-test" id="accordionLeaderDeptid">
				        <div class="layui-card-body">
				          <div id="toolbarDiv"><ul id="accordionLeaderDeptTree" class="dtree" data-id="0" style="width: 100%;"></ul></div>
				        </div>
				      </div>
				    </div>
			    </div>
			    
			    <div class="layui-inline">
			    	<label class="layui-form-label">领导姓名</label>
		    	   	<div class="layui-input-inline">
		    	   		 <select name="mgr" id="mgr" lay-verify="required">
				        </select>
			    	</div>
			    </div>
			 </div>
			<div class="layui-form-item">
				<div class="layui-inline">
				    <label class="layui-form-label">用户姓名</label>
				    <div class="layui-input-inline">
				      <input type="text" name="name" id="name" lay-verify="required" autocomplete="off" placeholder="请输入用户姓名" class="layui-input">
				    </div>
			    </div>
			    <div class="layui-inline">
				    <label class="layui-form-label">登陆名称</label>
				    <div class="layui-input-inline">
				      <input type="text" name="loginname" id="loginname" lay-verify="required" autocomplete="off" placeholder="请输入登陆名称" class="layui-input">
				    </div>
			    </div>
			 </div>
			<div class="layui-form-item">
			    <label class="layui-form-label">用户地址</label>
			    <div class="layui-input-block">
			      <input type="text" name="address" autocomplete="off" placeholder="请输入用户地址" class="layui-input">
			    </div>
			 </div>
			  <div class="layui-form-item">
			    <label class="layui-form-label">用户备注</label>
			    <div class="layui-input-block">
      					<textarea placeholder="请输入用户备注" name="remark" class="layui-textarea"></textarea>
			    </div>
			 </div>
			 <div class="layui-form-item">
			 	<div class="layui-inline">
				    <label class="layui-form-label">用户性别</label>
				    <div class="layui-input-inline">
				      <input type="radio" name="sex" value="1" title="男" checked="">
				      <input type="radio" name="sex" value="0" title="女">
				    </div>
			    </div>
			    <div class="layui-inline">
				    <label class="layui-form-label">是否可用</label>
				    <div class="layui-input-inline">
				      <input type="radio" name="available" value="1" title="可用" checked="">
				      <input type="radio" name="available" value="0" title="不可用">
				    </div>
			    </div>
			  </div>
			<div class="layui-form-item">
			    <label class="layui-form-label">排序码</label>
		    	   	<div class="layui-input-inline">
			      		<input type="text" name="ordernum" id="ordernum" readonly="readonly" lay-verify="required" autocomplete="off" placeholder="请输入排序码" class="layui-input">
			    	</div>
			 </div>
			 <div class="layui-form-item">
			    <div class="layui-input-block">
			      <button class="layui-btn" lay-submit="" lay-filter="doSubmit">提交</button>
			      <button type="reset"  class="layui-btn layui-btn-primary">重置</button>
			    </div>
			  </div>
		</form>
	</div>
	<!-- 添加和修改的弹出层 结束-->
	
	<!-- 分配角色的弹出层开始 -->
	<div id="selectUserRoleView" style="display: none;">
		<table class="layui-hide" id="roleTable" lay-filter="roleTable"></table>
	</div>
	<!-- 分配角色的弹出层结束 -->
	
	

	<script type="text/javascript" src="/resources/layui/layui.js"></script>
	<script type="text/javascript" src="/resources/layui_ext/dist/dtree.js"></script>
	
	<script type="text/javascript">
		var tableIns;//提升作用域
		layui.config({
			base : "/resources/layui_ext/dist/"
		}).extend({
			"dtree" : "dtree"
		})
		layui.use(["form","table","jquery","layer","dtree","laydate"],function(){
			var table=layui.table;
			var form=layui.form;
			var $=layui.jquery;
			var layer=layui.layer;
			var dtree=layui.dtree;
			var laydate=layui.laydate;
			tableIns=table.render({
				    elem: '#userTable'
				    ,url:'/user/loadAllUser'
				    ,toolbar: '#userToolbar'
				    ,page:true
				    ,cellMinWidth:80
				    ,height:'full-200'
				    ,cellMinWidth: 80 //全局定义常规单元格的最小宽度，layui 2.2.1 新增
				    ,cols: [ [
				      {field:'id', width:80, title: 'ID',align:'center'}
				      ,{field:'name', width:120, title: '用户姓名',align:'center'}
				      ,{field:'loginname',width:150, title: '登陆名称',align:'center'}
				      ,{field:'deptname',width:150, title: '所属部门',align:'center'}
				      ,{field:'address',width:150, title: '用户地址',align:'center'}
				      ,{field:'leadername',width:150, title: '直属领导',align:'center'}
				      ,{field:'sex', width:80, title: '性别',align:'center', templet:function(obj){
				    	  return obj.sex==1?'<font color=green>男</font>':'<font color=red>女</font>';
				      }}
				      ,{field:'remark',width:150, title: '用户备注',align:'center'}
				      ,{field:'hiredate',width:230, title: '入职时间',align:'center'}
				      ,{field:'available', width:120, title: '是否可用',align:'center', templet:function(obj){
				    	  return obj.available==1?'<font color=green>可用</font>':'<font color=red>不可用</font>';
				      }}
				      ,{field:'ordernum',width:120, title: '排序码',align:'center'}
				      ,{fixed: 'right', title:'操作',align:'center', toolbar: '#userBar', width:300}
				      
				    ] ]
					 ,done:function(res, curr){
				    	  var brforeCurr = curr; // 获得当前页码
				    	  var dataLength = res.data.length; // 获得当前页的记录数
				    	  var count = res.count; // 获得总记录数
				    	  if(dataLength == 0 && count != 0){ //如果当前页的记录数为0并且总记录数不为0
				    		  table.reload("userTable",{ // 刷新表格到上一页
				    			  page:{
				    				 curr:brforeCurr-1
				    			  }
				    		  });
				    	  }
				      } 
				  });
			//模糊查询
			$("#doSearch").click(function(){
				var params=$("#searchFrm").serialize();
				tableIns.reload({
					 url:'/user/loadAllUser?'+params
				 })
			});
			
			//监听头工具条的事件
			table.on('toolbar(userTable)', function(obj){
				  switch(obj.event){
				    case 'addUser':
				     openAddUserView();
				    break;
				  };
				});
			//监听行工具行的事件
			
			table.on('tool(userTable)', function(obj){ //注：tool是工具条事件名，test是table原始容器的属性 lay-filter="对应的值"
 			 var data = obj.data; //获得当前行数据
 			 var layEvent=obj.event;
				  if(layEvent === 'del'){ //删除
				    deleteUserById(data);
				  } else if(layEvent === 'edit'){ //编辑
				   	openUpdateUserView(data);
				  }else if(layEvent==='resetPwd'){
					  resetUserPwd(data);
				  }else if(layEvent==='selectUserRole'){
					  selectUserRole(data);
				  }
			});
			
			
			var mainIndex;
			var url;
			//打开添加的弹出层
			function  openAddUserView(){
				mainIndex=layer.open({
					type:1,
					title:'添加用户',
					content:$("#addOrUpdateView"),
					area:['800px','600px'],
					skin:'layui-layer-molv',
					maxmin:true,
					success:function(layero, index){
						//清空表单
						$("#dataFrm")[0].reset();
						//移除下拉列表展开的样式
						$("#accordionDeptid").removeClass("layui-show layui-anim layui-anim-upbit");
						$("#accordionLeaderDeptid").removeClass("layui-show layui-anim layui-anim-upbit");
						//加载最大的排序码
						 $.get("/user/loadUserMaxOrderNum",function(obj){
							$("#ordernum").val(obj.value);
						});
						url="/user/addUser";
					}
				});
			}
			//添加用户名失去焦点事件
			$("#name").on("blur",function(){
				var name=$("#name").val()
				$.get("/user/changeChineseToPinyin",{name:name},function(obj){
					$("#loginname").val(obj.value);
				})
			})
			
			//绑定入职时间
			laydate.render({
				elem:'#hiredate'
			})
			
			//打开修改的弹出层
			function openUpdateUserView(data){
				mainIndex=layer.open({
					type:1,
					title:'修改用户',
					content:$("#addOrUpdateView"),
					area:['800px','600px'],
					skin:'layui-layer-molv',
					maxmin:true,
					success:function(layero, index){
						//移除下拉列表展开的样式
						$("#accordionDeptid").removeClass("layui-show layui-anim layui-anim-upbit");
						$("#accordionLeaderDeptid").removeClass("layui-show layui-anim layui-anim-upbit");
						form.val("dataFrm",data);
						unSelectUserDeptidTree(data);//反选树
						unSelectLeaderDeptidTree(data);//反选树
						url="/user/updateUser";
					}
				});
			}
			//反选树
			function unSelectUserDeptidTree(data){
			    var params = dtree.dataInit("accordionDeptTree", data.deptid);
			    $("#name_deptid").val(params.context);
			}
			//反选树
			function unSelectLeaderDeptidTree(data){
				var leaderid=data.mgr;//领导ID
				$.get("/user/queryUserById",{id:leaderid},function(obj){
					var params = dtree.dataInit("accordionLeaderDeptTree", obj.deptid);
				    $("#name_leaderdeptid").val(params.context);
				    initLeaderSelect(obj.deptid,obj.id);
				});
				
			    
			}
			//删除用户
			function  deleteUserById(data){
				layer.confirm('真的要删除【'+data.name+'】这个用户么？', function(index){
				      //向服务端发送删除指令
				      $.post("/user/deleteUser",{id:data.id},function(reslult){
				    	    layer.msg(reslult.msg);
				    	    layer.close(index);
				    		//刷新数据表格
							tableIns.reload();
				      })
				    });
			}
			
			//打开分配角色的弹出层
			function selectUserRole(data){
				mainIndex=layer.open({
					type:1,
					title:'分配【'+data.name+'】的角色',
					content:$("#selectUserRoleView"),
					area:['800px','400px'],
					skin:'layui-layer-molv',
					maxmin:true,
					btn: ['确认分配'],
					yes:function(index, layero){
						var checkStatus = table.checkStatus('roleTable'); //roleTable 即为基础参数 id 对应的值
						var checkData=checkStatus.data;
						var params="id="+data.id;
						$.each(checkData,function(index,item){
							params+="&ids="+item.id;
						});
						$.post("/user/saveUserRole",params,function(obj){
							layer.msg(obj.msg);
						})
						return false;
					},
					btnAlign: 'c',
					success:function(layero, index){
						initRoleData(data);
					}
				});
			}
			var roleTableIns;
			function initRoleData(data){
				roleTableIns=table.render({
				    elem: '#roleTable'
				    ,url:'/user/loadUserRole?available=1&id='+data.id
				    ,cellMinWidth:60
				    ,cols: [ [
				      {type:'checkbox',align:'center'}
				      ,{field:'id',  title: 'ID',align:'center'}
				      ,{field:'name',  title: '角色名称',align:'center'}
				      ,{field:'remark', title: '角色备注',align:'center'}
				    ] ]
				  });
			}
			
			//提交事件
			form.on('submit(doSubmit)', function(data){
				var params=$("#dataFrm").serialize();
				$.post(url,params,function(obj){
					layer.msg(obj.msg);
					//关闭弹出层
					layer.close(mainIndex);
					//刷新数据表格
					tableIns.reload();
				})
				return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
			});
			
			
			//重置密码
			function resetUserPwd(data){
				layer.confirm('真的要重置【'+data.name+'】这个用户的密码么？', function(index){
				      //向服务端发送删除指令
				      $.post("/user/resetPwd",{id:data.id},function(reslult){
				    	    layer.msg(reslult.msg);
				    	    layer.close(index);
				      })
				    });
			}
			
			//初始化所属部门的树
			var accordionDeptTree = dtree.render({
				  elem: "#accordionDeptTree",
				  url: "/dept/loadDeptTreeJson",
				  dataStyle: "layuiStyle",  //使用layui风格的数据格式
				  dataFormat: "list",  //配置data的风格为list
				  response:{message:"msg",statusCode:0}, //修改response中返回数据的定义
				  accordion:true
			});
		    $("#selDeptid").on("click",function(){
			  $(this).toggleClass("layui-form-selected");
			  $("#accordionDeptid").toggleClass("layui-show layui-anim layui-anim-upbit");
			});
			dtree.on("node(accordionDeptTree)", function(obj){
			  $("#name_deptid").val(obj.param.context);
			  $("#deptid").val(obj.param.nodeId);
			  $("#selDeptid").toggleClass("layui-form-selected");
			  $("#accordionDeptid").toggleClass("layui-show layui-anim layui-anim-upbit");
		  });
			
			//初始化领导部门的树
			var accordionLeaderDeptTree = dtree.render({
				  elem: "#accordionLeaderDeptTree",
				  url: "/dept/loadDeptTreeJson",
				  dataStyle: "layuiStyle",  //使用layui风格的数据格式
				  dataFormat: "list",  //配置data的风格为list
				  response:{message:"msg",statusCode:0}, //修改response中返回数据的定义
				  accordion:true
			});
		    $("#selLeaderDeptid").on("click",function(){
			  $(this).toggleClass("layui-form-selected");
			  $("#accordionLeaderDeptid").toggleClass("layui-show layui-anim layui-anim-upbit");
			});
			dtree.on("node(accordionLeaderDeptTree)", function(obj){
			  $("#name_leaderdeptid").val(obj.param.context);
			  $("#selLeaderDeptid").toggleClass("layui-form-selected");
			  $("#accordionLeaderDeptid").toggleClass("layui-show layui-anim layui-anim-upbit");
			  var leaderDeptid=obj.param.nodeId;
			  initLeaderSelect(leaderDeptid);
			  
		  });
			
			function initLeaderSelect(leaderDeptid,selectedId){
				 $.get("/user/loadUsersByDeptId",{deptid:leaderDeptid},function(obj){
				 	 var html='<option value="">请选择领导名称</option>';
					$.each(obj,function(index,item){
						html+='<option value='+item.id+'>'+item.name+'</option>';
					});
					$("#mgr").html(html);
					if(selectedId!=undefined){
						$("#mgr").val(selectedId);
					}
					//更新表单的渲染
					form.render("select");
			 });
			}
			
			
		});
		//刷新的方法
		function reloadTable(id){
			tableIns.reload({
				 url:'/user/loadAllUser?deptid='+id,
				 page:{
					 curr:1
				 }
			 })
		}
	</script>
</body>
</html>